#playersContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px;
}

.playerButton {
    width: 250px;
    height: 150px;
    background-color: rgb(182, 71, 93);
    border: 4px dotted black;
    margin: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
    box-shadow:inset;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
};

/*one hover doesn't work*/
.playerButton:hover {
    width: 260px;
    width: 160px;
    background-color: rgb(173, 91, 108);
}

button:hover {
    width: 370px;
    height: 165px;
    background-color: rgb(173, 91, 108);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 47px 70px 0 rgba(0,0,0,0.19);
}

#startButton {
    text-decoration: none;
    color:antiquewhite;
    font-size: 1.5em;
    width: 300px;
    height: 100px;
    background-color: rgb(44, 26, 209);
    border: 5px, dotted antiquewhite;
    padding: 10px;
}

#startButton:hover{
    color:antiquewhite;
    font-size: 1.7em;
    width: 350px;
    height: 120px;
    background-color: rgb(101, 89, 207);
}



