.playerButton {
    width: 200px;
    height: 100px;
    background-color: rgb(182, 71, 93);
    border: 4px dotted black;
};

/*hover doesn't work*/
.playerButton:hover {
    width: 230px;
    width: 115px;
    background-color:coral;
};

button:hover {
    width: 230px;
    width: 115px;
    background-color:coral;
};
