body {
    text-align: center;
    justify-content: center;
    background-color: rgb(92, 92, 247);
    
    color: wheat;
    font-size: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
};
