
body {
    margin:0%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    grid-template-rows: 10% 1fr 25%;
    color: black;
}

header {
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: rgb(73, 84, 180);
}
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.c1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: rgb(150, 145, 219);
}
.c2 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: rgb(140, 125, 224);
}
aside {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: rgb(116, 80, 214);
}

.submit {
    border: 4px dotted black;
    border-radius: 5%;
    width: 200px;
    height: 70px;
    background-color: rgb(134, 134, 134);
    font-size: 30px;
    margin-bottom: 20px;
}

.submit:hover {
    background-color: rgb(202, 230, 255);
}

.enterType {
    border: 6px dotted black;
    border-radius: 5%;
    padding-left: 100px;
    padding-right: 100px;
    margin: 20px;
}

#aside {
    padding: 20px;
}

