
body {
    margin:0%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    grid-template-rows: 10% 1fr 25%;
}

header {
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: rgb(221, 93, 28);
}
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.c1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: rgb(0, 255, 30);
}
.c2 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: rgb(255, 0, 234);
}
aside {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: rgb(238, 255, 0);
}
